[Unit]
Description=Kwynn boot service

[Service]
# User=spark
ExecStart=/opt/kwynn/boot/bootinfo.sh start

[Install]
WantedBy=local-fs.target

# Before 2022/01/17, this had many more comments
